<div id="coffeeMachineDetails" class="d-flex align-items-center justify-content-center">
  <div class="form container">
    <div class="row">
      <div class="col">
        <label for="brand">Бренд</label>
        <input type="text" name="brand" id="brand" class="form-control" disabled value="{{machine.brand}}">
      </div>

      <div class="col">
        <label for="model">Модель</label>
        <input type="text" name="model" id="model" class="form-control" disabled value="{{machine.model}}">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="uniqMachineNumber">Унікальний номер апарату</label>
        <input type="text" id="uniqMachineNumber" name="uniqMachineNumber" class="form-control" disabled
               value="{{machine.uniqMachineNumber}}">
      </div>
      <div class="col">
        <label for="warrantyEndDate">Гарантія до</label>
        <input type="text" name="warrantyEndDate" id="warrantyEndDate" class="form-control" disabled
               value="{{machine.warrantyUntil}}">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <table class="table table-stripped table-hover">
          <tbody>
          <!--    header-->
          <tr>
            <th>Деталь</th>
            <th>Характеристика</th>
            <th>Значення</th>
            <th>Одиниці виміру</th>
          </tr>

          <tr *ngFor="let partType of this.machine.partTypesWithCharacteristics">
            <td>{{partType.partType.type}}</td>
            <td colspan="3">
              <table class="table-characteristics">
                <tr *ngFor="let characteristicWitValue of partType.characteristicsWithValues">
                  <td>{{characteristicWitValue.characteristicType.type}}</td>
                  <td>{{characteristicWitValue.characteristicTypeVal}}</td>
                  <td>{{characteristicWitValue.characteristicType.measurementUnit}}</td>
                </tr>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="additionalInformation">Додаткова інформація</label>
        <p id="additionalInformation">{{machine.additionalInfo}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="serviceList">Дані про обслуговування</label>
        <div id="serviceList">
          <div *ngIf="tasks.length == 0">
            Даних про обслуговування поки немає
          </div>
          <div *ngIf="tasks.length > 0">
            <table class="table table-stripped table-hover">
              <tbody>
              <tr>
                <th>
                  №
                </th>
                <th>
                  Тип операції
                </th>
                <th>
                  Статус
                </th>
                <th>
                  Дата початку
                </th>
                <th>
                  Дата завершення
                </th>
                <th>
                  Зробити до
                </th>
                <th>
                  Відповідальний
                </th>
                <th *ngIf="isLoggedUserAdminOrMaster">
                </th>
              </tr>

              <tr *ngFor="let task of tasks, let i = index ">
                <td>
                  {{i + 1}}
                </td>
                <td>
                  {{task.type}}
                </td>
                <td>
                  {{task.status}}
                </td>
                <td>
                  {{task.startDate}}
                </td>
                <td>
                  {{task.endDate}}
                </td>
                <td>
                  {{task.dueDate}}
                </td>
                <td>
                  {{task.assignee}}
                </td>
                <td *ngIf="isLoggedUserAdminOrMaster">
                  <button type="button" class="btn btn-light" (click)="showTaskDetails(task.id)">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <button type="button" class="btn btn-light btn-plus" data-toggle="modal"
                    data-target="#addPartTypeCharacteristicModal"
                    (click)="addTask()">
              <i class="fa-solid fa-plus fa-2xl"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
