<!--<app-header></app-header>-->

      <img id="main_theme" src="/assets/images/background.jpg" alt="ВІДЕНСЬКА КАВА">
<!--/ header-->

<!---->
<section id="feature" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-3 wow fadeInLeft delay-05s">
        <div class="section-title">
          <h2 class="head-title">Features</h2>
          <p class="sec-para">That's why we are the best.</p>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6 wow fadeInRight delay-02s">
            <div class="icon">
<!--              <fa-icon [icon]="icons.faUser"></fa-icon>-->
            </div>
            <div class="icon-text">
              <h3 class="txt-tl">For you</h3>
              <p class="txt-para">Get a platform that can grow and change along with your survey needs over time. </p>
            </div>
          </div>
          <div class="col-md-6 wow fadeInRight delay-02s">
            <div class="icon">
<!--              <fa-icon [icon]="icons.faBuilding"></fa-icon>-->
            </div>
            <div class="icon-text">
              <h3 class="txt-tl">Secured</h3>
              <p class="txt-para">Manage your surveys data with advanced security and control. </p>
            </div>
          </div>
          <div class="col-md-6 wow fadeInRight delay-04s">
            <div class="icon">
<!--              <fa-icon [icon]="icons.faChartBar"></fa-icon>-->
            </div>
            <div class="icon-text">
              <h3 class="txt-tl">Statistics</h3>
              <p class="txt-para">Analysis never been so easy and fast. </p>
            </div>
          </div>
          <div class="col-md-6 wow fadeInRight delay-04s">
            <div class="icon">
<!--              <fa-icon [icon]="icons.faTools"></fa-icon>-->
            </div>
            <div class="icon-text">
              <h3 class="txt-tl">Easy to make</h3>
              <p class="txt-para">Constructor consists of intuitive parts. </p>
            </div>
          </div>
          <div class="col-md-6 wow fadeInRight delay-06s">
            <div class="icon">
<!--              <fa-icon [icon]="icons.faImage"></fa-icon>-->
            </div>
            <div class="icon-text">
              <h3 class="txt-tl">Upload Images</h3>
              <p class="txt-para">A picture really can be worth a thousand words. You can add images directly to questions. </p>
            </div>
          </div>
          <div class="col-md-6 wow fadeInRight delay-06s">
            <div class="icon">
<!--              <fa-icon [icon]="icons.faUsers"></fa-icon>-->
            </div>
            <div class="icon-text">
              <h3 class="txt-tl">Collect</h3>
              <p class="txt-para">Share your surveys instantly with everyone on your list, using email. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
